{% extends 'layouts/base.html.twig' %}

{% block title %}Panterest !{% endblock %}

{% block body %}
    {% if pins|length > 0 %}
        <h1 class="mb-4 text-center text-muted">{{ pluralize(pins|length,"Pin","Pins")}}</h1>
        {% for row in pins|batch(3) %}
        <div class="row mb-5">
            {% for pin in row %}
                <div class="col-md-4">
                    <article class="pin bg-white rounded shadow">
                        <div class="mw-100 rounded-top overflow-hidden "> 
                            <a href="{{ path('app_pins_show',{id: pin.id}) }}">
                                <img src="{{ asset('uploads/pins/' ~ pin.imageName)| imagine_filter('squared_thumbnail_medium') }}" class="w-100" alt="{{ pin.title }}"/>
                            </a>
                        </div>
                        <h5 class="pl-3 pt-3"><a href="{{ path('app_pins_show',{id: pin.id}) }}" class="text-secondary text-decoration-none">{{ pin.title }}</a></h5>
                        <p class="text-muted pl-3 pb-3"><small>Submitted [OWNER FULL NAME] {{ pin.createdAt|ago }}</small></p>
                    </article>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        
    {% else %}
        <p class="h1 mt-5 text-center"> Aucun pin n'a été créé.<a href="{{ path('app_pins_create')}}">Creer un pin</a></p>
    {% endif %}
{% endblock %}


{# # | imagine_filter('squared_thumbnail_medium')  #}